/* font-family: 'Poppins', sans-serif; */

/* - Red: hsl(0, 78%, 62%)
- Cyan: hsl(180, 62%, 55%)
- Orange: hsl(34, 97%, 64%)
- Blue: hsl(212, 86%, 64%) */

/* - Very Dark Blue: hsl(234, 12%, 34%)
- Grayish Blue: hsl(229, 6%, 66%)
- Very Light Gray: hsl(0, 0%, 98%)
 */

html {
  font-size: 14.625px;
  font-family: var(--ff-poppins);
}

:root {
  --ff-poppins: "Poppins", sans-serif;
  --fw-light: 200;
  --fw-normal: 400;
  --fw-bold: 600;

  --fs-200: 1rem;
  --fs-400: 1.13rem;
  --fs-600: 2rem;

  --clr-red: hsl(0, 78%, 62%);
  --clr-cyan: hsl(180, 62%, 55%);
  --clr-orange: hsl(34, 97%, 64%);
  --clr-blue: hsl(212, 86%, 64%);

  --clr-dark: hsl(234, 12%, 34%);
  --clr-neutral: hsl(229, 6%, 66%);
  --clr-light: hsl(0, 0%, 98%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  color: var(--clr-dark);
  line-height: 0.8;
}

header {
  text-align: center;
}

h1 {
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
}

.h1--light {
  font-weight: var(--fw-light);
}

.wrapper {
  margin: 20px auto 0px;
  width: 1000px;
}

.wrapper__grid {
  --gap: 1.2rem;
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  place-items: center;
  gap: var(--gap);
}

.card {
  background: #fffafa;
  padding: 1rem;
  text-align: right;
  box-shadow: rgb(163, 156, 156) 0px 5px;
  border-top: 3px solid;
}

.card--margin-gap {
  margin-top: var(--gap);
}

.card h2 {
  margin: 0;
  font-size: var(--fs-400);
}

.card p {
  font-size: var(--fs-200);
}

.card p,
.card h2 {
  text-align: left;
}

.card__border--red {
  border-top-color: var(--clr-red);
}

.card__border--cyan {
  border-top-color: var(--clr-cyan);
}

.card__border--orange {
  border-top-color: var(--clr-orange);
}

.card__border--blue {
  border-top-color: var(--clr-blue);
}
