/* font-family: 'Poppins', sans-serif; */

/* - Red: hsl(0, 78%, 62%)
- Cyan: hsl(180, 62%, 55%)
- Orange: hsl(34, 97%, 64%)
- Blue: hsl(212, 86%, 64%) */

/* - Very Dark Blue: hsl(234, 12%, 34%)
- Grayish Blue: hsl(229, 6%, 66%)
- Very Light Gray: hsl(0, 0%, 98%)
 */

html {
  font-size: 15px;
  font-family: var(--ff-poppins);
}

:root {
  --ff-poppins: "Poppins", sans-serif;
  --fw-light: 200;
  --fw-normal: 400;
  --fw-bold: 600;

  --fs-200: 1rem;
  --fs-400: 1.13rem;
  --fs-600: 2rem;

  --clr-red: hsl(0, 78%, 62%);
  --clr-cyan: hsl(180, 62%, 55%);
  --clr-orange: hsl(34, 97%, 64%);
  --clr-blue: hsl(212, 86%, 64%);

  --clr-dark: hsl(234, 12%, 34%);
  --clr-neutral: hsl(229, 6%, 66%);
  --clr-light: hsl(0, 0%, 98%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  color: var(--clr-dark);
  line-height: 1.1;
}

header {
  text-align: center;
}

h1 {
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
}

.h1--light {
  font-weight: var(--fw-light);
}

.wrapper {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}
